body {
  margin: 10% !important;
}

.todo-title {
  font-weight: bold !important;
  font-family: cursive !important;
  font-size: 50px !important;
  color: #0158ca !important;
  letter-spacing: 5px !important;
  margin-bottom: 20px !important;
}
